<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="/"><img width="50rem" src="/images/Red-Crave.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/order">Order</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>

    <% if(loggedIn == true){ %>
      <a href="/profile" class="btn btn-outline-light">Profile</a>
    <% }else{ %>
      <form class="form-inline my-2 my-lg-0">
        <a href="/login" class="btn btn-outline-light">Login</a>&nbsp;&nbsp;
        <a href="/register" class="btn btn-outline-light">Sign Up</a>
      </form>
    <% } %>
  </div>
</nav>
