<div class="flex-items-default">
  <img src="<%= item.ITEM_IMG%>" alt="Avatar" class="avatar">
  <p><b><%= item.ITEM_NAME %></b></p>
  <p><%= item.ITEM_DESCRIPTION %></p>
  <p><b>Price: </b> <%= item.PRICE %> BD </p>
</div>
