<div class="post-card flex-items-default-post">
  <a href="post/<%=post.POST_ID%>">
    <div class="post-card-img" style="background-image: url('<%=post.POST_IMG%>');"></div>
    <p><b><%=post.POST_TITLE%></b></p>
  </a>
</div>
