<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <%- include("partials/bootstrap.ejs") %>
  <link rel="stylesheet" href="css/styles.css">
  <title>Menu</title>
</head>

<body>
  <div style="background-color: black;">
    <%- include("partials/header.ejs", {loggedIn: loggedIn}) %>
  </div>

  <div class="marble-background">
    <h1 style="text-align: center">Posts</h1>

    <div class="flex-container">

      <% for(i = 0; i < posts.length; i++){%>
      <%- include("components/post", {post:posts[i]}) %>
      <%}%>

    </div>

  </div>

  <%- include("partials/footer.ejs") %>
</body>

</html>