<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <%- include("partials/bootstrap.ejs") %>
  <link rel="stylesheet" href="css/styles.css">
  <title>Menu</title>
</head>

<body>
  <div style="background-color: black;">
    <%- include("partials/header.ejs", {loggedIn: loggedIn}) %>
  </div>

  <div class="marble-background">
    <div class="opaque">
      <h1 style="text-align: center">Menu</h1>
      <div class="container">
        <div class="flex-container">
          <% for (i = 0; i < menu.length; i++) {%>
          <%- include("components/menu-item.ejs", {item: menu[i]}) %>
          <%}%>
        </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br>
  </div>


  <%- include("partials/footer.ejs") %>

</body>

</html>